{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>JRU-Connect Login</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller d-flex">
    <div class="container-fluid page-body-wrapper full-page-wrapper d-flex">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo d-flex justify-content-center">
                <img src="{% static 'images/favicon.png' %}" alt="logo">
              </div>
              <h4 class="text-center">FORGOT PASSWORD: ENTER YOUR EMAIL</h4>
              <hr>
              <form class="pt-3" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="username">JRU Email</label>
                  <input type="text" class="form-control form-control-lg" name="email" placeholder="Email" >
                </div>
                
                
                <div class="mt-3">
                  <button type="submit" class="btn btn-block btn-success btn-lg font-weight-medium auth-form-btn">SEND OTP</button>
                </div>
                <br>
                <hr>
              
                
                {% if response_data != "-" %}
                  <p class="text-danger">{{ response_data }}</p>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const togglePassword = document.getElementById('toggle-password');
      const passwordField = document.getElementById('password');
    
      togglePassword.addEventListener('click', function() {
        // Toggle the type attribute between 'password' and 'text'
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);
    
        // Toggle the eye icon between open and closed
        this.classList.toggle('mdi-eye-outline');
        this.classList.toggle('mdi-eye-off-outline');
      });
    });
    
  </script>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <!-- endinject -->
</body>

</html>
