{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">



<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <img src="{% static 'images/favicon.png' %}" alt="image" class="profile-pic" style="width: 100%; x">
        </li>
        <li class="nav-item sidebar-category">
            <p>Home</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ecom' %}">
                <i class="mdi mdi-cart menu-icon"></i>
                <span class="menu-title">Buy and Sell</span>
            </a>
        </li>
        {% if role == "admin" %}
       
    
        <li class="nav-item sidebar-category">
            <p>Management</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-account-group menu-icon"></i>
                <span class="menu-title">Users</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'users' %}">All Users</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">
                <i class="mdi mdi-box menu-icon"></i>
                <span class="menu-title">Products</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'engagements' %}">
                <i class="mdi mdi-thumb-up menu-icon"></i>
                <span class="menu-title">Engagements</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'feedbacks' %}">
                <i class="mdi mdi-comment-text menu-icon"></i>
                <span class="menu-title">Feedbacks</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'messages' %}">
                <i class="mdi mdi-message menu-icon"></i>
                <span class="menu-title">Messages</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profiles' %}">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Profiles</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'support_inquiries' %}">
                <i class="mdi mdi-help-circle menu-icon"></i>
                <span class="menu-title">Support Inquiries</span>
            </a>
        </li>
    <!-- Content for admin role goes here -->
    {% endif %}
        
    </ul>
</nav>

<script>
    let username = '{{ admin_user.full_name }}';
    

    if (username === null || username === '') {
    window.location.href = '{% url 'login' %}';
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {


        // Edit User
$('#editUserFormnav').on('submit', function(e) {
e.preventDefault();
let userId = $('#editUserId').val();
let username = $('#editUsername').val();
let fullName = $('#editFullName').val();
let email = $('#editEmail').val();
let password = $('#editPassword').val(); // Optional
let role = $('#editRole').val();
let verified = $('#editVerified').is(':checked');

fetch(`/update-user/${userId}/`, {
  method: 'POST',
  headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': '{{ csrf_token }}'
  },
  body: JSON.stringify({
      username: username,
      full_name: fullName,
      email: email,
      password: password, // Optional
      role: role,
      verified: verified
  })
})
.then(response => response.json())
.then(data => {
  if (data.status === 'success') {
      location.reload();
  } else {
      alert(data.message);
  }
});
});


        // Delete User
        $('.delete-btn').on('click', function() {
            let userId = $(this).data('id');
            if (confirm("Are you sure you want to delete this user?")) {
                fetch(`/delete-user/${userId}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                });
            }
        });
    });


    
</script>


