{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>JRU-Connect - Products</title>
    <!-- base:css -->
    <link
      rel="stylesheet"
      href="{% static 'vendors/mdi/css/materialdesignicons.min.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/css/vendor.bundle.base.css'%}"
    />
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png'%}" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- DataTables CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
    />
    <!-- DataTables Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css"
    />
  </head>

  <body>
    <div class="container-scroller d-flex">
      <!-- partial:{% static 'partials/_sidebar.html -->
      {% include 'views/nav.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:./partials/_navbar.html -->
        <nav
          class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row"
          style="height: 120px"
        >
          <div
            class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
          >
            <button
              class="navbar-toggler navbar-toggler align-self-center"
              type="button"
              data-toggle="minimize"
            >
              <span class="mdi mdi-menu"></span>
            </button>
            <div class="navbar-brand-wrapper mr-5"></div>
            <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">
              Welcome back, {{ full_name }}
            </h4>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item">
                <h4 class="mb-0 font-weight-bold d-none d-xl-block">
                  August 22, 2024
                </h4>
              </li>
              <li class="nav-item dropdown mr-1">
                <a
                  class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center"
                  id="messageDropdown"
                  href="#"
                  data-toggle="dropdown"
                >
                  <i class="mdi mdi-calendar mx-0"></i>
                  <span class="count bg-info">2</span>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                  aria-labelledby="messageDropdown"
                >
                  <p class="mb-0 font-weight-normal float-left dropdown-header">
                    Messages
                  </p>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img
                        src="{% static 'images/faces/face4.jpg' %}"
                        alt="image"
                        class="profile-pic"
                      />
                    </div>
                    <div class="preview-item-content flex-grow">
                      <h6 class="preview-subject ellipsis font-weight-normal">
                        David Grey
                      </h6>
                      <p class="font-weight-light small-text text-muted mb-0">
                        The meeting is cancelled
                      </p>
                    </div>
                  </a>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img
                        src="{% static 'images/faces/face2.jpg' %}"
                        alt="image"
                        class="profile-pic"
                      />
                    </div>
                    <div class="preview-item-content flex-grow">
                      <h6 class="preview-subject ellipsis font-weight-normal">
                        Tim Cook
                      </h6>
                      <p class="font-weight-light small-text text-muted mb-0">
                        New product launch
                      </p>
                    </div>
                  </a>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img
                        src="{% static 'images/faces/face3.jpg' %}"
                        alt="image"
                        class="profile-pic"
                      />
                    </div>
                    <div class="preview-item-content flex-grow">
                      <h6 class="preview-subject ellipsis font-weight-normal">
                        Johnson
                      </h6>
                      <p class="font-weight-light small-text text-muted mb-0">
                        Upcoming board meeting
                      </p>
                    </div>
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown mr-2">
                <a
                  class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
                  id="notificationDropdown"
                  href="#"
                  data-toggle="dropdown"
                >
                  <i class="mdi mdi-email-open mx-0"></i>
                  <span class="count bg-danger">1</span>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                  aria-labelledby="notificationDropdown"
                >
                  <p class="mb-0 font-weight-normal float-left dropdown-header">
                    Notifications
                  </p>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-success">
                        <i class="mdi mdi-information mx-0"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <h6 class="preview-subject font-weight-normal">
                        Application Error
                      </h6>
                      <p class="font-weight-light small-text mb-0 text-muted">
                        Just now
                      </p>
                    </div>
                  </a>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-warning">
                        <i class="mdi mdi-settings mx-0"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <h6 class="preview-subject font-weight-normal">
                        Settings
                      </h6>
                      <p class="font-weight-light small-text mb-0 text-muted">
                        Private message
                      </p>
                    </div>
                  </a>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-info">
                        <i class="mdi mdi-account-box mx-0"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <h6 class="preview-subject font-weight-normal">
                        New user registration
                      </h6>
                      <p class="font-weight-light small-text mb-0 text-muted">
                        2 days ago
                      </p>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
            <button
              class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
              type="button"
              data-toggle="offcanvas"
            >
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 >Products Table <button
                      class="btn btn-success m-3"
                      data-toggle="modal"
                      data-target="#addProductModal"
                    >
                      + Add Product
                    </button></h4>
                    

                    <div class="table-responsive pt-3">
                      <table class="table table-bordered" id="example">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Location</th>
                            <th>Date Posted</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for product in products %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ product.title }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.category }}</td>
                            <td>${{ product.price }}</td>
                            <td>{{ product.stock }}</td>
                            <td>{{ product.location }}</td>
                            <td>
                              {{ product.date_posted|date:"Y-m-d H:i:s" }}
                            </td>
                            <td>
                              <a
                                href="#"
                                class="btn btn-primary m-1"
                                data-toggle="modal"
                                data-target="#editModal{{ product.product_id }}"
                                >Edit</a
                              >

                              <a href="#" class="btn btn-danger m-1" onclick="deleteProduct({{ product.product_id }})">Delete</a>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <!-- Edit Product Modal -->
                      {% for product in products %}
                      <div
                        class="modal fade"
                        id="editModal{{ product.product_id }}"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="editModalLabel{{ product.product_id }}"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5
                                class="modal-title"
                                id="editModalLabel{{ product.product_id }}"
                              >
                                Edit Product: {{ product.title }}
                              </h5>
                              <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form
                                id="editForm{{ product.product_id }}"
                                method="POST"
                              >
                                {% csrf_token %}
                                <div class="form-group">
                                  <label for="title">Title</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="title{{ product.product_id }}"
                                    name="title"
                                    value="{{ product.title }}"
                                  />
                                </div>
                                <div class="form-group">
                                  <label for="description">Description</label>
                                  <textarea
                                    class="form-control"
                                    id="description{{ product.product_id }}"
                                    name="description"
                                  >
{{ product.description }}</textarea
                                  >
                                </div>
                                <div class="form-group">
                                  <label for="category">Category</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="category{{ product.product_id }}"
                                    name="category"
                                    value="{{ product.category }}"
                                  />
                                </div>
                                <div class="form-group">
                                  <label for="price">Price</label>
                                  <input
                                    type="number"
                                    class="form-control"
                                    id="price{{ product.product_id }}"
                                    name="price"
                                    value="{{ product.price }}"
                                  />
                                </div>
                                <div class="form-group">
                                  <label for="stock">Stock</label>
                                  <input
                                    type="number"
                                    class="form-control"
                                    id="stock{{ product.product_id }}"
                                    name="stock"
                                    value="{{ product.stock }}"
                                  />
                                </div>
                                <div class="form-group">
                                  <label for="location">Location</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="location{{ product.product_id }}"
                                    name="location"
                                    value="{{ product.location }}"
                                  />
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                              >
                                Close
                              </button>
                              <button
                                type="button"
                                class="btn btn-primary"
                                onclick="updateProduct({{ product.product_id }})"
                              >
                                Save changes
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}

                      <!-- Add Product Modal -->
                      <div
                        class="modal fade"
                        id="addProductModal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="addProductModalLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="addProductModalLabel">
                                Add New Product
                              </h5>
                              <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form id="addProductForm" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                  <label for="new_title">Title</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="new_title"
                                    name="title"
                                  />
                                </div>
                                <div class="form-group">
                                  <label for="new_description"
                                    >Description</label
                                  >
                                  <textarea
                                    class="form-control"
                                    id="new_description"
                                    name="description"
                                  ></textarea>
                                </div>
                                <div class="form-group">
                                  <label for="new_category">Category</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="new_category"
                                    name="category"
                                  />
                                </div>
                                <div class="form-group">
                                  <label for="new_price">Price</label>
                                  <input
                                    type="number"
                                    class="form-control"
                                    id="new_price"
                                    name="price"
                                  />
                                </div>
                                <div class="form-group">
                                  <label for="new_stock">Stock</label>
                                  <input
                                    type="number"
                                    class="form-control"
                                    id="new_stock"
                                    name="stock"
                                  />
                                </div>
                                <div class="form-group">
                                  <label for="new_location">Location</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="new_location"
                                    name="location"
                                  />
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                              >
                                Close
                              </button>
                              <button
                                type="button"
                                class="btn btn-primary"
                                onclick="addProduct()"
                              >
                                Add Product
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          {% include 'views/footer.html' %}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>

      function deleteProduct(productId) {
        if (confirm('Are you sure you want to delete this product?')) {
          const csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;

          fetch(`/delete_product/${productId}/`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrftoken
            }
          })
          .then(response => {
            if (response.ok) {
              window.location.reload(); // Reload the page to see the changes
            } else {
              alert('Error deleting product.');
            }
          })
          .catch(error => console.error('Error:', error));
        }
      }


      function addProduct() {
        const title = document.getElementById("new_title").value;
        const description = document.getElementById("new_description").value;
        const category = document.getElementById("new_category").value;
        const price = document.getElementById("new_price").value;
        const stock = document.getElementById("new_stock").value;
        const location = document.getElementById("new_location").value;
        const csrftoken = document.querySelector(
          "[name=csrfmiddlewaretoken]"
        ).value;

        fetch("/add_product/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify({
            title: title,
            description: description,
            category: category,
            price: price,
            stock: stock,
            location: location,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              window.location.href = ""; // Reload the page to see the changes
            } else {
              alert("Error adding product: " + data.message);
            }
          })
          .catch((error) => console.error("Error:", error));
      }

      $(document).ready(function () {
        $("#example").DataTable();
      });

      function updateProduct(productId) {
        const title = document.getElementById(`title${productId}`).value;
        const description = document.getElementById(
          `description${productId}`
        ).value;
        const category = document.getElementById(`category${productId}`).value;
        const price = document.getElementById(`price${productId}`).value;
        const stock = document.getElementById(`stock${productId}`).value;
        const location = document.getElementById(`location${productId}`).value;
        const csrftoken = document.querySelector(
          "[name=csrfmiddlewaretoken]"
        ).value;

        fetch(`/update_product/${productId}/`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify({
            title: title,
            description: description,
            category: category,
            price: price,
            stock: stock,
            location: location,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              window.location.href = ""; // Reload the page to see the changes
            } else {
              alert("Error updating product: " + data.message);
            }
          })
          .catch((error) => console.error("Error:", error));
      }

      $(document).ready(function () {
        $("#example").DataTable();
      });
    </script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <!-- endinject -->
    <!-- End custom js for this page-->
  </body>
</html>
